body{
    background-color: hotpink;
    background-size: cover;
    position: relative;
}


.flex-container {
    list-style: none;
    display: flex;
}

.flex-container li {
    margin-left: 2rem;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid #ccc;
}


.main-content{
    margin: 10rem;
}
 /* unterer teil der website */
.container{
    background-color: white;
    padding: 2rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 100%; /* Ändere die Breite der Bilder nach Bedarf */
    height: auto;
}

.caption {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}
h1{
    text-align: center;
}
.image:hover {
    box-shadow: 0 0 15rem deeppink;
}

#color{
    color:white;
}
